<div  ng-controller="NavbarController as vm">

        {% if user.is_authenticated %}
           <h4> Welcome {{ user.username }} </h4>
               <ul>
                <li><a href="/+{{ user.username }}/settings">Settings</a></li>
                <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
                   <li><a href="#this_is_not_working/" >Home</a></li>
               </ul>

        {% else %}
               <ul>
                 <li><a href="#/login">Login</a></li>
                 <li><a href="#/register">Register</a></li>
               </ul>
        {% endif %}

</div>