
<div  ng-controller="HomePageController as vm">

				<div ng-show="vm.isAuthenticated">
                    <p> Below are some Options Available. </p>

                <ul>
                   <li><a href="#/viewtests">View available Tests.</a></li>
                   <li><a href="#/invalid">Another Option</a></li>
                   <li><a href="#/invalid">Another Option 2</a></li>
               </ul>

               </div>

               <div ng-show="!vm.isAuthenticated">
                   <div>
                    <article>
	                <p>Please <a href="#/login"> Login </a> to continue. </p>
                    <p>Please Here are some instructions for Students. </p>
                    <p>Please Here are some instructions for Professors. </p>
                    </article>
                   </div>
               </div>

</div>