
<h3> This is the Actual Test Page!</h3>

<!-- This is to display Instrcutions for this Test-->
 <div ng-show="displayInstructionsFlag">

  <h4> Please read the below Instrcutions for this Sub Section.</h4>
  <p>{{currentSubsection.description}}</p>

<button ng-click="startSubsection()" class ="btn" > START </button>
 </div>

<!-- This will display the question. i.e when its NOT an instracutions Page-->
 <div ng-show="!displayInstructionsFlag">

  <h4> Question No: {{(currentQtnIdx+1)}}</h4>
  <p> {{currentSubsection.questions[currentQtnIdx].qtn_text}}</p>
   <div ng-repeat="option in currentSubsection.questions[currentQtnIdx].options">


    <input type="radio" name="{{currentSubsection.questions[currentQtnIdx].id}}"
           value="{{option.option_num}}"  ng-model = "selections[currentSubsecIdx][currentQtnIdx]" > {{option.option_text}}<br>

    </div>

  <br/><br/>

  <button ng-disabled="currentQtnIdx == 0" ng-click="currentQtnIdx = currentQtnIdx-1" class ="btn" > << Previous </button>
  <button ng-disabled="currentQtnIdx >= currentSubsection.questions.length-1 " ng-click="currentQtnIdx = currentQtnIdx+1" class ="btn" > Next >> </button>

  <br />
  <br />
  <button ng-click="submitSection()" class ="btn" > Submit Section Answers </button>
 </div>

<!--  Here are the comments related to the above code. -->

<!-- notice that We have used Question.Id to identify a group of Radio buttons // All options of a Question -->

 <!-- Radio button selection can be understood from here. http://jsfiddle.net/od3n/K9MLk/
   "ng-model" uses the the "value" field to select/deselect the radiobutton
  -->
