
<h3> This is the Test Instructions Page!</h3>

 <p> <b> Test Name - {{paper.label}} </b> </p>

 <h4> Please read the below Instrcutions Carefully!</h4>
 <p>{{paper.instructions}}</p>

 <h4> Below is a list of subsections in this Test.</h4>

    <li ng-repeat="subsec in paper.subsections">
       {{subsec.label}}
         <!-- Also Display details like Timers etc.. if needed -->
    </li>

 <br />

 <button ng-click="displaytest()" class ="btn" > START TEST </button>  <!-- notice on-click instead of ng-click -->